* {
    margin-left: 20px
}



.message > label{
    margin-right: 6%;
}
.email > label{
    margin-right: 3.4%;
}
.dateToSend > label{
    margin-right: 4.2%;
}
.color > label{
    margin-right: 3.2%;
}
.blinks > label{
    margin-right: 1.7%;
}
.musicVolume > label{
    margin-right: 2.7%;
}